/* CSS */
img{
    width: 100%
}

h1{
    width:8em;
    font-size: 2em;
    font-family: sans-serif;
}

h2{
     color: #B0732E;
    font-family: sans-serif;
     font-size: 2.5em;
    
}
h3 {
    color: #B0732E;
    font-family: sans-serif;
     font-size: 2.5em;
    font-weight: 300;
  
}

h4{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 200;
    color: #BA984E;
    
}

p{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 100;
}

nav {
    float: right;
    padding-top: .5em;
}

nav ul {
    padding: .5em;
}

nav ul li a{
    text-decoration: none;
    color: #B0732E;
    
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 1em;
    font-size: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}


div.logo {
    width: 90%;   

}
