/* CSS */
img{
    width: 80%
}
#logo img{
    max-height: 1em;
}
h1{
    width:20em;
    font-size: 3em;
    float: left;
}

h2{
    align-content: center;
     color: #B0732E;
    font-family: sans-serif;
    
}
h3 {
    font-family: serif;
    font-size: 2em;
    font-weight: 200;
  
}

p{
    font-weight: lighter;
}
nav {
    float: left;
    padding-top: 1.5em;
}

nav ul {
    padding: 1em;
}

nav ul li a{
    text-decoration: none;
    color: #B0732E;
    
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 2em;
    font-size: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    
}
