/* CSS STYLE SHEET */

h1{
    color:cadetblue;
    font-size: 4em;
    margin: 2.5em 2em 2.5em 6.5em;
    font-family:serif;
}

h2{

    font-family:sans-serif;
    margin: 2.5em 2em 2.5em 20.5em;
    font-size: 2em;
    color: dimgrey;
   
}

body{
    background-color: floralwhite;
}

.price{
    color:dimgrey;
    font-family: sans-serif;
    font-size: .7em;
  
    
}

.foodtitles{
    color:cadetblue;
    font-family: sans-serif;
    font-size 1.2em;
   
    
}
.description{
    font-family: sans-serif;
    font-size: .9em;
  
}
