/*CSS DOCUMENT*/

img {
width: 100%;
background-color: #FFFBC3;
}

div.container{
    max-width: 165em;
    margin: auto;
    text-align: center;
    font-family: serif;
   background-color: #FFFBC3;
    font-size: 3.8em;

    
    
}

div.intro{
    font-family: serif;
    font-size: 1.935em;
    width: 90%;
    max-width: 55em;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    
    
}

div.maincontent{
    max-width: 55em;
    margin: auto;
    width: 100%;
    background-color: rgb(250,250,255);
    font-size: 1.535em; 
   
}

