/*CSS DOCUMENT*/
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');


img {
width: 100%;
background-color: #FFFBC3;
}

div.container{
    max-width: 80em;
    margin: auto;
    text-align: center;
    font-family: serif;
   background-color: #FFFBC3;
    font-family:'Marck Script';
    font-size: 4em;

    
    
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.85em;
}
p{
    font-size: 1.3em;
}

h3{
    background-color: #D05E27;
}

div.intro{
    width: 80%;
    max-width: 55em;
    margin: auto;
    text-align: center;
    font-family: 'Marck Script';
    
    
}

div.maincontent{
    max-width: 45em;
    margin: auto;
    width: 100%;
    background-color: rgb(250,250,255);
 
   
}

